<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Active Table Development</title>
    <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="../node_modules/lit/polyfill-support.js"></script>
    <script type="module" src="../dist/activeTable.js"></script>
    <!-- https://activetable.io/examples/files -->
    <!-- Need this when exporting file formats that are other than csv -->
    <!-- <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script> -->
  </head>
  <body>
    <!-- Attributes can be set as strings either directly on the element (headerStyles) or via a `setAttribute` method on its reference (tableStyle).
      When passing JSON objects make sure that they are first correctly stringified (use the following tool https://jsonlint.com/), functions assigned
      to properties must not have external references and all regex values are properly escaped.
      You can also pass values into the component via properties by using the element reference (content).
      -->
    <active-table id="active-table-element" headerStyles='{"default":{"backgroundColor": "#d6d6d630"}}'></active-table>
    <script>
      const element = document.getElementById('active-table-element');
      // Setting value via a property (easiest way)
      element.content = [
        ['Planet', 'Diameter', 'Mass', 'Moons', 'Density'],
        ['Earth', 12756, 5.97, 1, 5514],
        ['Mars', 6792, 0.642, 2, 3934],
        ['Jupiter', 142984, 1898, 79, 1326],
        ['Saturn', 120536, 568, 82, 687],
        ['Neptune', 49528, 102, 14, 1638],
      ];
      element.setAttribute(
        'tableStyle',
        JSON.stringify({
          border: '1px solid black',
        })
      );
    </script>
  </body>
</html>
